* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
body {
    font-family: Open Sans, sans-serif;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    min-width: 290px;
    width: 300px;
    border-right: 1px gray solid;
}
.navbar header {
    width: 100%;
    font-size: 1.6rem;
    padding: 10px 30px;
    font-weight: 500;
}
.navbar_list {
    margin-top: 10px;
    width: 100%;
}
.navbar_list-item {
    width: 100%;
    height: auto;
    list-style: none;
    text-align: left;
    border-top: .5px gray solid;
}
.navbar_list-item a {
    width: 100%;
    padding: 10px 30px;
}
.container {
    position: absolute;
    padding: 20px;
    padding-left: 310px;
    width: 100%;
}
.container_section {
    line-height: 28px;
    margin-bottom: 20px;
}
.container_section header {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
}
.container_section p {
    font-weight: 400;
    font-size: .96rem;
    margin: 10px;
}
.container_section ul {
    font-size: .96rem;
    font-weight: 400;
    margin: 10px 0;
    padding-left: 60px;
}
.container_section ul li {
    margin-bottom: 10px;
}
.container_section code {
    padding: 20px;
    display: block;
    background-color: lightgray;
    width: 92%;
    margin-left: 30px;
    min-height: 10px;
    border-radius: 5px;
}
.container_section a {
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 814px) {
    .navbar {
        position: relative;
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        border-bottom: 1px black solid;
    }
    .navbar header {
        text-align: center;
    }
    .container {
        margin: 0;
        padding: 20px;
    }
}
@media screen and (max-width: 425px) {
    .container_section code {
        margin: 0;
    }
}
